.mainContainer{
    /* border: 5px solid red; */
    height: 100%;
    background-color: whitesmoke;
 
}
*{
    box-sizing: border-box;
    
}
*{
    box-sizing: border-box;
}
nav{
    background-color: burlywood;
    text-align: right; 
    height: 7%;
}


header{
    background-color: midnightblue;
    height: 10%;
}


.border{
    border: 2px solid black; 
    background-color: burlywood; 
}
#border{
    border:2px solid black;
    background-color: yellow;
}
section{
    align-items: center;
    margin-left: 15%;
    height:75%;
    width: 70%;
}
.scroll{
    overflow:scroll;
    }
ul{
    margin-bottom:200px;
    text-align: center;
}
h5{
    float: right;
    margin-right: 5%;
    color: white;
} 
footer{
    background-color: midnightblue;
    height: 30%;
}