.mainContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.board{
  height: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;

}
.row{
  display: flex;
  border: solid blue 1px;
  flex: 1;
}
.clickBox{
  border: 1px solid green;
  height: 100%;
  width: 100%;
}

