body{
    display:flex;
    flex-direction: column;
}
.button{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: row;
}
button{
    width: 3.2%;
}
.equals{
    width: 10.5%;
}