.calculator{
    height: 50%;
    width: 50%;
    border: 5px soild black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% repeat(6,1fr) 10%;
}
input{
    grid-column: 1/4;
}
.equal{
    grid-row: 7/8;
    grid-column: 1/4;
}
button{
    background-color: tomato;
}